/**
* @name Square Theme
* @author craftablescience#6001
* @description Makes Discord square.
* @version 2.0.1
* @source https://github.com/craftablescience/Discord-Square-Theme/
* @website https://craftablescience.info
* @invite ASgHFkX
* @updateUrl craftablescience.info/Discord-Square-Theme/square.theme.css
*/




/*
 * TODO:
 * Green popups when moving servers in list
 */




/* Settings */

:root {
    --sq-mobile: green; /* change this if you want to see a difference between mobile and online */
    --sq-online: lime;
    --sq-idle: yellow;
    --sq-dnd: red;
    --sq-offline: grey;

	--sq-profile-status-size: 3px;

	--sq-distance-between-server-icons: 8px; /* this value is semi hardcoded, modify at risk of looking bad */
}




/* Universal / Misc. Styles */

* {
    /* REMEMBER, NO CIRCLE */
    border-radius: 0px !important;
}

*[class*="scroller"]::-webkit-scrollbar-track,
*[class*="scroller"]::-webkit-scrollbar-thumb {
	/* Scrollbars */
	border-radius: 0px !important;
}

svg rect {
    /* Makes some round SVGs square (most notably, checkbuttons, which are called "sliders" for some stupid reason) */
    rx: 0;
}

svg foreignObject[mask="url(#svg-mask-avatar-default)"] {
	/* Try to remove masks over avatars globally */
	mask: none;
	-webkit-mask: none;
}

/* hide all the masks a profile image can have and also the weird dot */
svg[class^="bannerSVGWrapper"] mask,
[class^="avatarHoverTarget"] circle {
    display: none;
}


div[class^="tooltipPointer"] {
    /* Hides the arrow next to all tooltips if present */
    display: none;
}

div[class*="controlButton"] > svg > foreignObject, /* Makes control popup buttons in voice calls round */
div[class*="viewer"] > svg > foreignObject, /* Voice channel, all people watching a stream */
img[class*="voiceSectionGuildImage"], /* Friends section on the right, people are in a VC, this is the server image */
div[class*="partyMemberKnown"] { /* Friends section on the right, people are in a VC, these are their avatars */
	mask: none;
	-webkit-mask: none;
}




/* Emoji / GIF / Sticker Picker Styles */

div[role="button"] > div > svg > foreignObject,
div[class*="headerIcon"] > div > svg > foreignObject,
div[class*="guild"] foreignObject,
div[class*="categoryItemGuildCategory"] > div > svg > foreignObject {
    /* Affects the guild icons in the emoji picker and some other places */
    mask: none;
	-webkit-mask: none;
}

div[class*="result"]::after {
    /* Makes the hover border in the GIF picker square */
    border-radius: 0px;
}

div[class*="inspectedIndicator"],
div[class*="assetWrapperMasked"] {
	/* Makes stickers in the sticker picker square on hover */
	mask: none;
	-webkit-mask: none;
}

div[class*="graphicSecondary"] > div > svg > foreignObject {
	mask: none;
}




/* Profile Icons */

div[class*="avatar"],
img[class*="avatar"] {
    /* For the sake of making this snippet work without the styling applied by the rest of this theme */
    border-radius: 0px;
}

a[aria-label*="group"] div > svg > foreignObject {
	/* Group DMs will have an Offline status without this */
	border-bottom-width: 0px !important;
}

svg > rect[mask*="svg-mask-status"] {
	/* Hide statuses in @mention autocomplete listings, no good way to add an underline */
	display: none;
}

div[class*="avatar"][aria-label$="Online via Mobile"] > svg > foreignObject,
div[class*="headerAvatar"][aria-label$="Online via Mobile"] > svg > foreignObject,
div[class*="listAvatar"][aria-label$="Online via Mobile"] > svg > foreignObject {
    border-bottom: var(--sq-profile-status-size) solid var(--sq-mobile);
}

div[class*="avatar"][aria-label$="Online"] > svg > foreignObject,
div[class*="headerAvatar"][aria-label$="Online"] > svg > foreignObject,
div[class*="listAvatar"][aria-label$="Online"] > svg > foreignObject {
    border-bottom: var(--sq-profile-status-size) solid var(--sq-online);
}

div[class*="avatar"][aria-label$="Idle"] > svg > foreignObject,
div[class*="headerAvatar"][aria-label$="Idle"] > svg > foreignObject,
div[class*="listAvatar"][aria-label$="Idle"] > svg > foreignObject {
    border-bottom: var(--sq-profile-status-size) solid var(--sq-idle);
}

div[class*="avatar"][aria-label$="Disturb"] > svg > foreignObject,
div[class*="headerAvatar"][aria-label$="Disturb"] > svg > foreignObject,
div[class*="listAvatar"][aria-label$="Disturb"] > svg > foreignObject {
    border-bottom: var(--sq-profile-status-size) solid var(--sq-dnd);
}

div[class*="avatar"][aria-label$="Offline"] > svg > foreignObject,
div[class*="headerAvatar"][aria-label$="Offline"] > svg > foreignObject,
div[class*="listAvatar"][aria-label$="Offline"] > svg > foreignObject {
    border-bottom: var(--sq-profile-status-size) solid var(--sq-offline);
}

div[class*="avatar"][aria-label$="Invisible"] > svg > foreignObject,
div[class*="headerAvatar"][aria-label$="Invisible"] > svg > foreignObject,
div[class*="listAvatar"][aria-label$="Invisible"] > svg > foreignObject {
    border-bottom: var(--sq-profile-status-size) solid var(--sq-offline);
}

div[class*="headerAvatar"] > svg > foreignObject,
div[class*="listAvatar"] > svg > foreignObject {
    border-bottom-width: var(--sq-profile-status-size) !important;
}

div[class*="avatar"] svg > rect,
div[class*="headerAvatar"] > svg > rect,
div[class*="listAvatar"] > svg > rect {
    display: none;
}

div[class*="avatar"] > div[class*="wrapper"][aria-label$="Online via Mobile"] > svg[class^="mask"] > foreignObject {
    border-bottom: var(--sq-profile-status-size) solid var(--sq-mobile);
}

div[class*="avatar"] > div[class*="wrapper"][aria-label$="Online via Mobile"] > svg > svg[class*="dots"] {
    color: var(--sq-mobile);
}

div[class*="avatar"] > div[class*="wrapper"][aria-label$="Online"] > svg[class^="mask"] > foreignObject {
    border-bottom: var(--sq-profile-status-size) solid var(--sq-online);
}

div[class*="avatar"] > div[class*="wrapper"][aria-label$="Online"] > svg > svg[class*="dots"] {
    color: var(--sq-online);
}

div[class*="avatar"] > div[class*="wrapper"][aria-label$="Idle"] > svg[class^="mask"] > foreignObject {
    border-bottom: var(--sq-profile-status-size) solid var(--sq-idle);
}

div[class*="avatar"] > div[class*="wrapper"][aria-label$="Idle"] > svg > svg[class*="dots"] {
    color: var(--sq-idle);
}

div[class*="avatar"] > div[class*="wrapper"][aria-label$="Disturb"] > svg[class^="mask"] > foreignObject {
    border-bottom: var(--sq-profile-status-size) solid var(--sq-dnd);
}

div[class*="avatar"] > div[class*="wrapper"][aria-label$="Disturb"] > svg > svg[class*="dots"] {
    color: var(--sq-dnd);
}

div[class*="avatar"] > div[class*="wrapper"] > svg[class^="mask"] > foreignObject {
    /* Offline by default, it's not in the label */
    border: 0px solid rgba(0,0,0,0);
    border-bottom: var(--sq-profile-status-size) solid var(--sq-offline);
}

div[class*="avatar"] > div[class*="wrapper"] > svg > svg[class*="dots"] {
    /* Offline by default, it's not in the label */
    color: var(--sq-offline);
}

div[class*="avatar"] > div[class*="wrapper"][aria-label$="Invisible"] > svg > foreignObject {
    border-bottom: var(--sq-profile-status-size) solid var(--sq-offline);
}

div[class*="avatar"] > div[class*="wrapper"][aria-label$="Invisible"] > svg > svg[class*="dots"] {
    color: var(--sq-offline);
}

div[class*="avatar"] > div[class*="wrapper"] > svg > svg[class*="dots"] > g > circle {
    /* Move and scale typing indicator */
    cx: 8.5;
    cy: 5;
    r: 5;
}

svg[class*="avatarHint"] {
    /* That little overlay "View Profile" when you hover over a profile picture in a popout */
    border-radius: 0px;
    background-color: rgba(0,0,0,0.7);
}

svg[class*="avatarHint"] > foreignObject {
    /* That little overlay "View Profile" when you hover over a profile picture in a popout */
    mask: none;
    border-bottom-width: 0px !important;
}

div[role="img"] > svg > foreignObject, /* Removes rounding from icons in the Members list */
div[class^="voiceUserSummary"] > div > svg > foreignObject, /* Removes bevels from user icons under a collapsed category with an active VC */
div[class^="tooltip"] > div > div > svg > foreignObject, /* Removes bevels from user icons when there are people in a VC in a server tooltip */
div[class*="callContainer"] svg > foreignObject { /* Makes avatars square in Discord video/voice calls */
	mask: none;
	-webkit-mask: none;
}

div[class*="callContainer"] div[class*="wrapper"]::after {
	/* Make the flashing video/voice call border square */
	border-radius: 0px;
}




/* Servers */

nav[aria-label="Servers sidebar"] > ul > div[class^="scroller"] div[class^="tutorialContainer"] div > svg > foreignObject,
nav[aria-label="Servers sidebar"] > ul > div[class^="scroller"] div[class^="listItem"] div > svg > foreignObject,
div[aria-label="Servers"] > div foreignObject {
    mask: none;
	-webkit-mask: none;
}

nav[aria-label="Servers sidebar"] > ul > div[class^="scroller"] {
	/* Get rid of padding above the Discord logo (not the window title logo, the homepage button) */
    padding-top: 0px;
}

nav[aria-label="Servers sidebar"] > ul > div[class^="scroller"] > div > div[class^="guildSeparator"] {
    height: 2px;
    margin-top: var(--sq-distance-between-server-icons);
    margin-bottom: calc(var(--sq-distance-between-server-icons) - 2px);
}

nav[aria-label="Servers sidebar"] > ul > div[class^="scroller"] > div > div[class^="listItemWrapper"],
div[aria-label="Servers"] > div,
nav[aria-label="Servers sidebar"] > ul > div[class^="scroller"] > div[class^="tutorialContainer"] > div,
nav[aria-label="Servers sidebar"] > ul > div[class^="scroller"] > div[class^="tutorialContainer"] > div[class^="listItem"],
nav[aria-label="Servers sidebar"] > ul > div[class^="scroller"] > div > div[class^="listItem"] {
    margin-bottom: var(--sq-distance-between-server-icons);
}

div[class^="pageWrapper"] div[class^="searchHeader"] > img {
	/* Use a precomputed square image for the Discover Servers header */
	content: url("https://craftablescience.info/Discord-Square-Theme/community_server_banner_square.png");
}




/* Settings */

div[class^="gemIndicatorContainer"] {
    /* Unfortunately this has to be round :( */
    border-radius: 50% !important;
}

div[class^="previewAvatars"] > div > svg > rect {
    /* Get rid of old status indicators... */
    display: none;
}

div[class^="previewAvatars"] > div[aria-label$="Online"] > svg > foreignObject {
    /* ...and replace them with underline-style indicators! */
    border-bottom: 2px solid var(--sq-online);
}

div[class^="previewAvatars"] > div[aria-label$="Idle"] > svg > foreignObject {
    border-bottom: 2px solid var(--sq-idle);
}

div[class^="previewAvatars"] > div[aria-label$="Disturb"] > svg > foreignObject {
    border-bottom: 2px solid var(--sq-dnd);
}

div[class^="option"] svg[class^="selectedIcon"] {
	/* The checkbox selected icon in voice input/output and camera input dropdown */
	background-color: var(--brand-experiment);
}

div[role="radio"] div > svg > circle,
div[role="menuitemradio"] div > svg > circle {
	/* Hide filled circle in radio boxes */
	display: none;
}
div[role="radio"] div:not([class*="checkbox"]) > svg > path,
div[role="menuitemradio"] div:not([class*="checkbox"]) > svg > path {
	d: path("M 2,2 V 22 H 22 V 2 Z M 3.9648443,4.0253906 H 19.964844 V 20.025391 H 3.9648443 Z");
}
div[role="radio"][aria-checked="true"] div:not([class*="checkbox"]) > svg > path,
div[role="menuitemradio"][aria-checked="true"] div:not([class*="checkbox"]) > svg > path {
	d: path("M 2 2 L 2 22 L 22 22 L 22 2 L 2 2 z M 3.9648438 4.0253906 L 19.964844 4.0253906 L 19.964844 20.025391 L 3.9648438 20.025391 L 3.9648438 4.0253906 z M 6 6 L 6 18 L 18 18 L 18 6 L 6 6 z");
}

div[role="menuitemcheckbox"] div > svg > path:nth-child(1) {
	/* Make mini-checkboxes square */
	d: path("M 3 2.9707031 L 3 20.970703 L 21 20.970703 L 21 2.9707031 L 3 2.9707031 z M 5 5 L 19 5 L 19 19 L 5 19 L 5 5 z");
}

div[role="menuitemcheckbox"][class*="focused"] div > svg > path:nth-child(2) {
	/* Ensure mini-checkboxes check is always visible, even on hover */
	color: var(--interactive-active) !important;
}




/* Chat */

div[class^="mediaBarProgress"]::before, div[class^="mediaBarProgress"]::after {
    /* Might be redundant, haven't tested, don't care */
    border-radius: 0px;
}

div[class^="repliedMessage"]::before {
    /* Makes the icon next to replies square */
    border-radius: 0px;
}

svg[class^="unreadPillCap"] {
    /* Hides the triangle next to the unread indicator */
    display: none;
}

span[class^="unreadPill"] {
    /* Unread indicator needs more padding to compensate */
    padding-left: 4px;
}

div[class^="mediaBarWrapper"]::after, div[class^="mediaBarWrapper"] > div[class*="buffer"]::after {
    /* The end of the video progress bar is hardcoded to be round */
    display: none;
}

button[aria-label="Upload a File"] {
    /* Looks nicer */
    padding-left: 10px;
    padding-right: 10px;
}

img[class*="assetsLargeMask"],
div[class*="activitySection"] > img[class*="largeImage"] {
	/* Removes mask over big icon in rich presence */
	mask: none;
	-webkit-mask: none;
}

img[class*="assetsSmallImage"] {
	/* Make small rich presence icon look nicer */
	bottom: 0px;
	right: 0px;
	background-color: var(--background-secondary);
}




/* Round SVGs */

path[d="M23.0212 1.67671C21.3107 0.879656 19.5079 0.318797 17.6584 0C17.4062 0.461742 17.1749 0.934541 16.9708 1.4184C15.003 1.12145 12.9974 1.12145 11.0283 1.4184C10.819 0.934541 10.589 0.461744 10.3368 0.00546311C8.48074 0.324393 6.67795 0.885118 4.96746 1.68231C1.56727 6.77853 0.649666 11.7538 1.11108 16.652C3.10102 18.1418 5.3262 19.2743 7.69177 20C8.22338 19.2743 8.69519 18.4993 9.09812 17.691C8.32996 17.3997 7.58522 17.0424 6.87684 16.6135C7.06531 16.4762 7.24726 16.3387 7.42403 16.1847C11.5911 18.1749 16.408 18.1749 20.5763 16.1847C20.7531 16.3332 20.9351 16.4762 21.1171 16.6135C20.41 17.0369 19.6639 17.3997 18.897 17.691C19.3052 18.4993 19.7718 19.2689 20.3021 19.9945C22.6677 19.2689 24.8929 18.1364 26.8828 16.6466H26.8893C27.43 10.9731 25.9665 6.04728 23.0212 1.67671ZM9.68041 13.6383C8.39754 13.6383 7.34085 12.4453 7.34085 10.994C7.34085 9.54272 8.37155 8.34973 9.68041 8.34973C10.9893 8.34973 12.0395 9.54272 12.0187 10.994C12.0187 12.4453 10.9828 13.6383 9.68041 13.6383ZM18.3161 13.6383C17.0332 13.6383 15.9765 12.4453 15.9765 10.994C15.9765 9.54272 17.0124 8.34973 18.3161 8.34973C19.6184 8.34973 20.6751 9.54272 20.6543 10.994C20.6543 12.4453 19.6184 13.6383 18.3161 13.6383Z"] {
	/* Discord logo */
	d: path("m 8.9595816,0 c 0,0 -3.3716254,1.2157408 -5.0118878,1.9960938 L 2,17.085938 C 4.1452961,18.225536 8.554446,20 8.554446,20 c 0,0 0.5715498,-1.599456 0.848312,-2.509766 H 6.7494056 V 15.929688 H 21.225868 v 1.560546 H 18.597241 C 18.874004,18.400544 19.445554,20 19.445554,20 c 0,0 4.40915,-1.774464 6.554446,-2.914062 L 24.052306,1.9960938 C 22.412044,1.2157408 19.040418,0 19.040418,0 L 17.786971,3.0703125 H 10.213029 Z M 7.5159297,8.3496094 H 12.071326 V 13.638672 H 7.5159297 Z m 8.4089383,0 h 4.555398 v 5.2890626 h -4.555398 z");
}

path[d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zM8.9 6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2H8.9V6zM16 16h-3v3h-2v-3H8v-2h3v-3h2v3h3v2z"] {
	/* Lock next to Billing category title in Settings */
	d: path("M 7 0.9921875 L 7 8 L 4 8 L 4 22 L 20 22 L 20 8 L 17 8 L 17 0.9921875 L 7 0.9921875 z M 8.9003906 2.9042969 L 15.099609 2.9042969 L 15.099609 8 L 8.9003906 8 L 8.9003906 2.9042969 z M 11 11 L 13 11 L 13 14 L 16 14 L 16 16 L 13 16 L 13 19 L 11 19 L 11 16 L 8 16 L 8 14 L 11 14 L 11 11 z");
}

path[d="M4 2.5C2.897 2.5 2 3.397 2 4.5V15.5C2 16.604 2.897 17.5 4 17.5H11V19.5H7V21.5H17V19.5H13V17.5H20C21.103 17.5 22 16.604 22 15.5V4.5C22 3.397 21.103 2.5 20 2.5H4ZM20 4.5V13.5H4V4.5H20Z"] {
	/* Desktop computer image used on server logo when streaming */
	d: path("M 2 2.5 L 2 4.5 L 2 15.5 L 2 17.498047 L 3.9804688 17.498047 C 3.9871451 17.498113 3.9933084 17.5 4 17.5 L 11 17.5 L 11 19.5 L 7 19.5 L 7 21.5 L 17 21.5 L 17 19.5 L 13 19.5 L 13 17.5 L 20 17.5 C 20.006692 17.5 20.012855 17.498113 20.019531 17.498047 L 22 17.498047 L 22 15.5 L 22 4.5 L 22 2.5 L 20 2.5 L 4 2.5 L 2 2.5 z M 4 4.5 L 20 4.5 L 20 13.5 L 4 13.5 L 4 4.5 z");
}

path[d="M0.5,0 L0.5,1.5 C0.5,5.65 2.71,9.28 6,11.3 L6,16 L21,16 L21,14 C21,11.34 15.67,10 13,10 C13,10 12.83,10 12.75,10 C8,10 4,6 4,1.5 L4,0 L0.5,0 Z M13,0 C10.790861,0 9,1.790861 9,4 C9,6.209139 10.790861,8 13,8 C15.209139,8 17,6.209139 17,4 C17,1.790861 15.209139,0 13,0 Z"] {
	/* Friends panel button icon */
	d: path("M 3,0 V 1.4060784 C 3,5.2962289 4.9420177,8.698756 7.8305231,10.592274 V 15 H 20.999999 v -1.875685 c 0,-2.493446 -4.680412,-3.748627 -7.024578,-3.748627 h -0.218634 c -4.1703337,0 -7.6830516,-3.751374 -7.6830516,-7.9696096 V 0 Z m 7.464418,0 v 7.500001 h 7.022007 V 0 Z");
}

path[d="M17,13.6 L17.3999992,13.6 C19.0406735,13.6 20.496781,12.8097754 21.4084757,11.5891722 L21.8198761,18.8298199 C21.913864,20.4840062 20.6490733,21.9011814 18.994887,21.9951692 C18.9382174,21.9983891 18.8814679,22 18.8247069,22 L5.1752931,22 C3.51843885,22 2.1752931,20.6568542 2.1752931,19 C2.1752931,18.943239 2.17690401,18.8864895 2.18012387,18.8298199 L2.59152425,11.5891732 C3.503219,12.8097758 4.95932613,13.6 6.6,13.6 L7,13.6 L7,15 L9,15 L9,13.6 L15,13.6 L15,15 L17,15 L17,13.6 Z M7,16 L7,18 L9,18 L9,16 L7,16 Z M15,16 L17,16 L17,18 L15,18 L15,16 Z M15,11.6 L9,11.6 L9,9 L7,9 L7,11.6 L6.6,11.6 C4.94314575,11.6 3.6,10.2568542 3.6,8.6 L3.6,5 C3.6,3.34314575 4.94314575,2 6.6,2 L17.3999992,2 C19.0568535,2 20.3999992,3.34314575 20.3999992,5 L20.3999992,8.6 C20.3999992,10.2568542 19.0568535,11.6 17.3999992,11.6 L17,11.6 L17,9 L15,9 L15,11.6 Z"] {
	/* Library panel button icon */
	d: path("M 6.5996094 2 C 6.5862048 2 6.5739098 2.003731 6.5605469 2.0039062 L 3.5996094 2.0039062 L 3.5996094 5.765625 L 3.5996094 8.5996094 C 3.5996094 10.256463 4.9427551 11.599609 6.5996094 11.599609 L 7 11.599609 L 7 9 L 9 9 L 9 11.599609 L 15 11.599609 L 15 9 L 17 9 L 17 11.599609 L 17.400391 11.599609 C 19.057245 11.599609 20.400391 10.256463 20.400391 8.5996094 L 20.400391 5 C 20.400391 4.9933191 20.398481 4.9871393 20.398438 4.9804688 L 20.398438 2 L 17.400391 2 L 6.5996094 2 z M 2.5917969 11.589844 L 2.1796875 18.830078 C 2.1764675 18.886747 2.1757812 18.94324 2.1757812 19 L 2.1757812 22 L 7.4589844 22 L 18.824219 22 L 21.824219 22 L 21.824219 18.994141 L 21.8125 18.994141 C 21.812387 18.938868 21.823486 18.885933 21.820312 18.830078 L 21.408203 11.589844 C 20.496508 12.810447 19.041065 13.599609 17.400391 13.599609 L 17 13.599609 L 17 15 L 15 15 L 15 13.599609 L 9 13.599609 L 9 15 L 7 15 L 7 13.599609 L 6.5996094 13.599609 C 4.9589355 13.599609 3.5034916 12.810447 2.5917969 11.589844 z M 7 16 L 9 16 L 9 18 L 7 18 L 7 16 z M 15 16 L 17 16 L 17 18 L 15 18 L 15 16 z");
}

path[d="M2.98966977,9.35789159 C2.98966977,9.77582472 2.63442946,10.1240466 2.20807287,10.1240466 L1.78171628,10.1240466 C1.35535969,10.1240466 0.999948837,9.77582472 0.999948837,9.35789159 C0.999948837,8.93995846 1.35535969,8.59173658 1.78171628,8.59173658 L2.20807287,8.59173658 C2.63442946,8.59173658 2.98966977,8.93995846 2.98966977,9.35789159 Z M22.2467643,9.14892503 C24.0942527,12.9800344 22.3888264,17.5772989 18.3384388,19.3882867 C14.4302837,21.1297305 9.74036124,19.457998 7.9638186,15.6268886 C7.60857829,14.8607335 7.3954,14.0248673 7.32428372,13.189001 L5.76091938,13.189001 C5.33456279,13.189001 4.97932248,12.840612 4.97932248,12.4226788 C4.97932248,12.0047457 5.33456279,11.6565238 5.76091938,11.6565238 L8.03493488,11.6565238 C8.46129147,11.6565238 8.81653178,11.3083019 8.81653178,10.8903688 C8.81653178,10.4724357 8.46129147,10.1240466 8.03493488,10.1240466 L4.41090388,10.1240466 C3.98454729,10.1240466 3.62913643,9.77582472 3.62913643,9.35789159 C3.62913643,8.93995846 3.98454729,8.59173658 4.41090388,8.59173658 L9.45606667,8.59173658 C9.88242326,8.59173658 10.2376636,8.24334752 10.2376636,7.82541439 C10.2376636,7.40748126 9.88242326,7.05925937 9.45606667,7.05925937 L7.3954,7.05925937 C6.75586512,7.05925937 6.18727597,6.57161499 6.18727597,5.87517123 C6.18727597,5.24827153 6.68474884,4.69091591 7.3954,4.69091591 L15.4250589,4.69091591 C18.267493,4.8303384 20.9676946,6.43235968 22.2467643,9.14892503 Z M13.2662961,8.38056332 C11.0193969,9.3919615 10.0341721,11.9973566 11.065955,14.1998642 C12.097738,16.4023718 14.755645,17.3681317 17.0025442,16.3567335 C19.249614,15.3453354 20.2346682,12.7399402 19.2028853,10.5374326 C18.1711023,8.33492503 15.5131953,7.36916515 13.2662961,8.38056332 Z M16.8462589,9.84548582 L18.2673907,12.2138293 C18.338507,12.3530846 18.338507,12.4227958 18.2673907,12.5620512 L16.8462589,14.9303946 C16.7751426,15.0696499 16.6330806,15.0696499 16.5619643,15.0696499 L13.7906465,15.0696499 C13.6485845,15.0696499 13.5774682,14.9999387 13.5065225,14.9303946 L12.0852202,12.5620512 C12.0142744,12.4227958 12.0142744,12.3530846 12.0852202,12.2138293 L13.5065225,9.84548582 C13.5774682,9.7062305 13.7197008,9.7062305 13.7906465,9.7062305 L16.5619643,9.7062305 C16.7041969,9.63651925 16.7751426,9.7062305 16.8462589,9.84548582 Z"] {
	/* Nitro panel button icon */
	d: path("M 7.3945312 4.6914062 C 6.6838801 4.6914063 6.1875 5.2481003 6.1875 5.875 C 6.1875 6.5714438 6.7549963 7.0585936 7.3945312 7.0585938 L 9.4570312 7.0585938 C 9.883388 7.0585938 10.238281 7.4082388 10.238281 7.8261719 C 10.238281 8.244105 9.8833881 8.5917969 9.4570312 8.5917969 L 4.4101562 8.5917969 C 3.9837996 8.5917969 3.6289063 8.9394888 3.6289062 9.3574219 C 3.6289065 9.775355 3.9837997 10.125 4.4101562 10.125 L 8.0351562 10.125 C 8.4615131 10.125 8.8164062 10.472692 8.8164062 10.890625 C 8.8164062 11.308558 8.4615131 11.65625 8.0351562 11.65625 L 5.7617188 11.65625 C 5.3353621 11.65625 4.9785156 12.003942 4.9785156 12.421875 C 4.9785156 12.839808 5.3353621 13.189453 5.7617188 13.189453 L 7.3125 13.189453 L 7.3125 20.076172 L 16.083984 20.076172 L 22.990234 20.076172 L 22.990234 11.556641 L 22.990234 4.6914062 L 15.425781 4.6914062 L 14.220703 4.6914062 L 7.3945312 4.6914062 z M 10.65625 7.9785156 L 19.613281 7.9785156 L 19.613281 16.757812 L 10.65625 16.757812 L 10.65625 7.9785156 z M 1.78125 8.5917969 C 1.3548934 8.5917969 1 8.9394888 1 9.3574219 C 1 9.775355 1.3548934 10.125 1.78125 10.125 L 2.2089844 10.125 C 2.635341 10.125 2.9902344 9.775355 2.9902344 9.3574219 C 2.9902344 8.9394888 2.635341 8.5917969 2.2089844 8.5917969 L 1.78125 8.5917969 z M 16.730469 9.6972656 C 16.686064 9.6711448 16.633616 9.6721758 16.5625 9.7070312 L 13.791016 9.7070312 C 13.720071 9.7070313 13.576809 9.7064478 13.505859 9.8457031 L 12.085938 12.212891 C 12.014987 12.352147 12.014988 12.423245 12.085938 12.5625 L 13.505859 14.929688 C 13.576804 14.999233 13.648955 15.070312 13.791016 15.070312 L 16.5625 15.070312 C 16.633617 15.070313 16.774583 15.068943 16.845703 14.929688 L 18.267578 12.5625 C 18.338698 12.423245 18.338698 12.352147 18.267578 12.212891 L 16.845703 9.8457031 C 16.810145 9.7760755 16.774874 9.7233864 16.730469 9.6972656 z");
}

path[d="M19.738 10H22V14H19.739C19.498 14.931 19.1 15.798 18.565 16.564L20 18L18 20L16.565 18.564C15.797 19.099 14.932 19.498 14 19.738V22H10V19.738C9.069 19.498 8.203 19.099 7.436 18.564L6 20L4 18L5.436 16.564C4.901 15.799 4.502 14.932 4.262 14H2V10H4.262C4.502 9.068 4.9 8.202 5.436 7.436L4 6L6 4L7.436 5.436C8.202 4.9 9.068 4.502 10 4.262V2H14V4.261C14.932 4.502 15.797 4.9 16.565 5.435L18 3.999L20 5.999L18.564 7.436C19.099 8.202 19.498 9.069 19.738 10ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"] {
	/* Settings gear button icon */
	d: path("M 9.6011252,0 V 2.7138529 3.616596 H 7.3456763 6.01828 L 4.8005627,2.4016897 2.4016876,4.800567 3.6165927,6.0182855 V 7.345683 9.6011335 H 2.7138505 0 v 4.7977545 h 2.7138505 0.9027422 v 2.25545 1.327399 L 2.4016876,19.199455 4.8005627,21.598333 6.01828,20.383427 h 1.3273963 c 0.00184,10e-4 0.00379,0.0018 0.00562,0.0028 H 9.6011206 V 21.286148 24 h 4.7977464 v -2.713852 -0.899931 h 2.252637 c 0.0018,-10e-4 0.0039,-0.0018 0.0056,-0.0028 H 17.9845 l 1.214905,1.214906 2.398861,-2.398878 -1.214906,-1.217718 V 16.654319 14.052957 H 24 V 9.6011335 H 21.28615 20.383408 V 7.345683 6.0182855 L 21.598314,4.800567 19.199438,2.3988772 17.984533,3.616596 h -1.327396 c -0.0018,-0.00101 -0.0039,-0.0018 -0.0056,-0.00281 H 14.398848 V 2.7138576 4.6645708e-6 Z M 7.1994377,7.1994443 H 16.800562 V 16.800577 H 7.1994377 Z");
}

path[d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm0-17a1 1 0 0 1 1 1v4h4a1 1 0 1 1 0 2h-4v4a1 1 0 1 1-2 0v-4H7a1 1 0 1 1 0-2h4V7a1 1 0 0 1 1-1Z"] {
	/* File picker button icon */
	d: path("M 23,23 V 1 H 1 l 4.8e-6,22 z M 12,6 c 0.552285,0 1,0.4477153 1,1 v 4 h 4 c 1.333333,0 1.333333,2 0,2 h -4 v 4 c 0,1.333333 -2,1.333333 -2,0 V 13 H 7 C 5.6666672,13 5.6666672,11 7,11 h 4 V 7 c 0,-0.5522847 0.447715,-1 1,-1 z");
}

path[d="M6 2h12a4 4 0 0 1 4 4v7.5a.5.5 0 0 1-.5.5H19a5 5 0 0 0-5 5v2.5a.5.5 0 0 1-.5.5H6a4 4 0 0 1-4-4V6a4 4 0 0 1 4-4Zm.5 8a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM19 8.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm-9.91 2.94a1 1 0 0 0-1.66 1.12 5.5 5.5 0 0 0 9.14 0 1 1 0 0 0-1.66-1.12 3.5 3.5 0 0 1-5.82 0Z"] {
	/* Sticker picker button icon */
	d: path("m 2,2 h 20 v 12 h -3 c -2.761424,0 -5,2.238576 -5,5 0.01247,0.924036 0,2.272263 0,3 H 2 Z m 6,8 V 7 H 5 v 3 z m 11,0 H 16 V 7 h 3 z m -9.91,1.44 -1.66,1.12 c 2.1783364,3.253007 6.961664,3.253007 9.14,0 l -1.66,-1.12 c -1.385836,2.073719 -4.434164,2.073719 -5.82,0 z");
}

path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm2.18 13.87a2.9 2.9 0 0 1-1.66-.49 3.18 3.18 0 0 1-1.12-1.35A4.88 4.88 0 0 1 4 12c0-.75.14-1.42.42-2 .29-.59.7-1.04 1.24-1.37a3.7 3.7 0 0 1 1.95-.5c.64 0 1.21.14 1.72.4.5.28.89.67 1.15 1.16l-1.22.88a1.76 1.76 0 0 0-1.64-1.02c-.66 0-1.17.22-1.52.65a2.74 2.74 0 0 0-.53 1.8c0 .78.18 1.39.53 1.81.35.42.86.64 1.52.64.3 0 .57-.06.81-.16.25-.12.45-.27.58-.47v-.93H7.3v-1.4h3.24v4.23H9.27l-.2-.71c-.43.57-1.06.86-1.89.86Zm6.34-.15h-1.57V8.28h1.57v7.44Zm1.51 0h1.57v-2.83h2.76v-1.42H16.6V9.7H20V8.28h-4.97v7.44Z"] {
	/* GIF picker button icon */
	d: path("M 2,2 V 22 H 22 V 2 Z M 7.18,15.87 C 6.5896891,15.879447 6.010556,15.708498 5.52,15.38 5.0274839,15.043902 4.6393841,14.576103 4.4,14.03 4.1231031,13.389702 3.9867044,12.697479 4,12 4,11.25 4.14,10.58 4.42,10 4.71,9.41 5.12,8.96 5.66,8.63 6.2512965,8.2863133 6.9262814,8.1132403 7.61,8.13 c 0.64,0 1.21,0.14 1.72,0.4 0.5,0.28 0.89,0.67 1.15,1.16 L 9.26,10.57 C 8.9653587,9.9336375 8.3210555,9.5329123 7.62,9.55 6.96,9.55 6.45,9.77 6.1,10.2 5.7169905,10.718922 5.5293116,11.356322 5.57,12 c 0,0.78 0.18,1.39 0.53,1.81 0.35,0.42 0.86,0.64 1.52,0.64 0.3,0 0.57,-0.06 0.81,-0.16 0.25,-0.12 0.45,-0.27 0.58,-0.47 V 12.89 H 7.3 v -1.4 h 3.24 v 4.23 H 9.27 l -0.2,-0.71 c -0.43,0.57 -1.06,0.86 -1.89,0.86 z m 6.34,-0.15 H 11.95 V 8.28 h 1.57 z m 1.51,0 h 1.57 v -2.83 h 2.76 V 11.47 H 16.6 V 9.7 H 20 V 8.28 h -4.97 z");
}

path[d="M4 6a4 4 0 0 1 4-4h.09c1.8 0 3.39 1.18 3.91 2.9A4.09 4.09 0 0 1 15.91 2H16a4 4 0 0 1 3.46 6H20a2 2 0 0 1 2 2v1.5a.5.5 0 0 1-.5.5h-19a.5.5 0 0 1-.5-.5V10c0-1.1.9-2 2-2h.54A3.98 3.98 0 0 1 4 6Zm12 2a2 2 0 1 0 0-4h-.09c-.96 0-1.8.65-2.02 1.58L13.29 8H16Zm-5.89-2.42.6 2.42H8a2 2 0 1 1 0-4h.09c.96 0 1.8.65 2.02 1.58Z"] {
	/* Gift button icon */
	d: path("M 8 2.0292969 C 7.223 2.0295469 6.4454062 2.3124062 5.8789062 2.8789062 C 4.7089063 4.0479063 4.7089063 5.9510937 5.8789062 7.1210938 C 6.2359062 7.4770937 6.6622815 7.7630469 7.1132812 7.9980469 L 4 7.9980469 C 3.9933084 7.9980469 3.9871451 7.9999341 3.9804688 8 L 2 8 L 2 9.9980469 L 2 10.130859 L 2 11.998047 L 22 11.998047 L 22 10.130859 L 22 9.9980469 L 22 8 L 20.019531 8 C 20.012849 7.9999341 20.006698 7.9980469 20 7.9980469 L 16.886719 7.9980469 C 17.337719 7.7630469 17.764094 7.4770937 18.121094 7.1210938 C 19.290094 5.9520937 19.290094 4.0489531 18.121094 2.8769531 C 16.986094 1.7459531 15.013906 1.7459063 13.878906 2.8789062 C 12.241906 4.5159065 12.021953 7.5954062 12.001953 7.9414062 C 12.000853 7.9522663 12.003459 7.9626062 12.005859 7.9726562 C 12.007959 7.9811262 12.009766 7.9889069 12.009766 7.9980469 L 11.990234 7.9980469 C 11.990234 7.9889969 11.992041 7.9811262 11.994141 7.9726562 C 11.996641 7.9624063 11.999147 7.9529062 11.998047 7.9414062 C 11.979047 7.5954062 11.758094 4.5139531 10.121094 2.8769531 C 9.5535933 2.3114531 8.777 2.0290469 8 2.0292969 z M 8 4 C 8.268 4 8.5190314 4.1039687 8.7070312 4.2929688 C 9.2970312 4.8829687 9.6402186 5.9402656 9.8242188 6.8222656 C 8.9442186 6.6392656 7.8789687 6.2930313 7.2929688 5.7070312 C 6.9029687 5.3160312 6.9029686 4.6829687 7.2929688 4.2929688 C 7.4809687 4.1039687 7.732 4 8 4 z M 16 4 C 16.268 4 16.518078 4.1030156 16.705078 4.2910156 C 17.095078 4.6820156 17.097031 5.3160312 16.707031 5.7070312 C 16.116031 6.2980313 15.056828 6.6422188 14.173828 6.8242188 C 14.358828 5.9412187 14.701969 4.8829687 15.292969 4.2929688 C 15.480969 4.1029687 15.732 4 16 4 z M 3 13.998047 L 3 19.998047 L 3 21.998047 L 7.7304688 21.998047 L 11 21.998047 L 11 13.998047 L 3 13.998047 z M 13 13.998047 L 13 21.998047 L 19 21.998047 L 21 21.998047 L 21 19.998047 L 21 13.998047 L 13 13.998047 z");
}

path[d="M10.418 13L12.708 15.294L11.292 16.706L6.586 11.991L11.294 7.292L12.707 8.708L10.41 11H21.949C21.446 5.955 17.177 2 12 2C6.486 2 2 6.487 2 12C2 17.513 6.486 22 12 22C17.177 22 21.446 18.046 21.949 13H10.418Z"] {
	/* Leave Server option icon */
	d: path("m 2.6666667,2.6666667 v 9.3332933 9.333373 h 9.3564813 9.310185 v -8.400019 h -7.044154 -3.745025 l 2.141744,2.141346 -1.325499,1.317346 -4.4028993,-4.401727 4.4053443,-4.3847551 1.323054,1.3222468 -2.149055,2.1389143 h 3.752336 7.044154 V 2.6666667 h -9.310185 z");
}

path[d="M2 5a3 3 0 0 1 3-3h3.93a2 2 0 0 1 1.66.9L12 5h7a3 3 0 0 1 3 3v11a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5Z"] {
	/* Server folder icon */
	d: path("M 2 4 L 2 5 L 2 19 L 2 21 L 4 21 L 20 21 L 22 21 L 22 19 L 22 11.039062 L 22 9 C 22 7.896 21.104 7 20 7 L 12 7 L 10.552734 5.1054688 C 10.213734 4.4274688 9.5206719 4 8.7636719 4 L 8.6347656 4 L 3 4 L 2 4 z");
}

path[d="M14 8.00598C14 10.211 12.206 12.006 10 12.006C7.795 12.006 6 10.211 6 8.00598C6 5.80098 7.794 4.00598 10 4.00598C12.206 4.00598 14 5.80098 14 8.00598ZM2 19.006C2 15.473 5.29 13.006 10 13.006C14.711 13.006 18 15.473 18 19.006V20.006H2V19.006Z"] {
	/* Show/Hide Members button icon */
	d: path("M 6 4.0058594 L 6 12.005859 L 14 12.005859 L 14 4.0058594 L 6 4.0058594 z M 15.363281 4.0058594 L 15.363281 12.005859 L 18.003906 12.005859 L 18.003906 4.0058594 L 15.363281 4.0058594 z M 10 13.005859 C 5.29 13.005859 2 15.472859 2 19.005859 L 2 20.005859 L 18 20.005859 L 18 19.005859 C 18 15.472859 14.711 13.005859 10 13.005859 z M 17.521484 13.535156 C 19.062284 14.912656 20 16.805759 20 19.005859 L 20 20.005859 L 22 20.005859 L 22 19.005859 C 22 16.443159 20.269884 14.441456 17.521484 13.535156 z");
}

path[d="M20.0001 20.006H22.0001V19.006C22.0001 16.4433 20.2697 14.4415 17.5213 13.5352C19.0621 14.9127 20.0001 16.8059 20.0001 19.006V20.006Z"],
path[d="M14.8834 11.9077C16.6657 11.5044 18.0001 9.9077 18.0001 8.00598C18.0001 5.96916 16.4693 4.28218 14.4971 4.0367C15.4322 5.09511 16.0001 6.48524 16.0001 8.00598C16.0001 9.44888 15.4889 10.7742 14.6378 11.8102C14.7203 11.8418 14.8022 11.8743 14.8834 11.9077Z"] {
	/* Show/Hide Members button icon, extraneous bits */
	display: none;
}

path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5ZM4 5.5C4 4.67 4.67 4 5.5 4h13c.83 0 1.5.67 1.5 1.5v6c0 .83-.67 1.5-1.5 1.5h-2.65c-.5 0-.85.5-.85 1a3 3 0 1 1-6 0c0-.5-.35-1-.85-1H5.5A1.5 1.5 0 0 1 4 11.5v-6Z"] {
	/* Inbox button icon */
	d: path("m 3,3 v 16 2 H 4.9902445 19.000001 21 V 19 4.9999996 3 H 19.000001 4.9902445 Z M 4.9902445,4.9999996 H 19.000001 V 15 h -4 c 0,1.66 -1.349999,2.999999 -2.999998,2.999999 C 10.350004,17.999999 9.0000028,16.66 9.0000028,15 H 4.9902445 Z");
}

path[d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm-.28-16c-.98 0-1.81.47-2.27 1.14A1 1 0 1 1 7.8 7.01 4.73 4.73 0 0 1 11.72 5c2.5 0 4.65 1.88 4.65 4.38 0 2.1-1.54 3.77-3.52 4.24l.14 1a1 1 0 0 1-1.98.27l-.28-2a1 1 0 0 1 .99-1.14c1.54 0 2.65-1.14 2.65-2.38 0-1.23-1.1-2.37-2.65-2.37ZM13 17.88a1.13 1.13 0 1 1-2.25 0 1.13 1.13 0 0 1 2.25 0Z"] {
	/* Help button icon */
	d: path("M 2.6666667,2.6666667 V 12 21.333333 H 12 21.333333 V 12 2.6666667 H 12 Z M 12,6.4 c 2.058009,0 3.733333,1.675324 3.733333,3.733333 0,1.736933 -1.191857,3.200381 -2.8,3.616667 V 14.8 H 11.066667 V 12 H 12 c 1.0304,0 1.866667,-0.837219 1.866667,-1.866667 0,-1.0303996 -0.836267,-1.8666663 -1.866667,-1.8666663 -1.0304,0 -1.866666,0.8362667 -1.866666,1.8666663 H 8.2666669 C 8.2666669,8.075324 9.9419815,6.4 12,6.4 Z m 0,9.1 c 0.643991,0 1.166667,0.522676 1.166667,1.166667 0,0.644942 -0.522676,1.166666 -1.166667,1.166666 -0.64399,0 -1.166666,-0.521724 -1.166666,-1.166666 C 10.833334,16.022676 11.35601,15.5 12,15.5 Z");
}

path[d="M11 5V3C16.515 3 21 7.486 21 13H19C19 8.589 15.411 5 11 5ZM17 13H15C15 10.795 13.206 9 11 9V7C14.309 7 17 9.691 17 13ZM11 11V13H13C13 11.896 12.105 11 11 11ZM14 16H18C18.553 16 19 16.447 19 17V21C19 21.553 18.553 22 18 22H13C6.925 22 2 17.075 2 11V6C2 5.447 2.448 5 3 5H7C7.553 5 8 5.447 8 6V10C8 10.553 7.553 11 7 11H6C6.063 14.938 9 18 13 18V17C13 16.447 13.447 16 14 16Z"] {
	/* Start Call button icon */
	d: path("M 11 3 L 11 5 L 19 5 L 19 13 L 21 13 L 21 3 L 11 3 z M 2 5 L 2 11.003906 L 2 18 L 2 22 L 13.705078 22 L 19 22 L 19 15.996094 L 12.996094 15.996094 L 12.996094 18 L 6 18 L 6 11.003906 L 8.0039062 11.003906 L 8.0039062 5 L 2 5 z M 11 7 L 11 9 L 15 9 L 15 13 L 17 13 L 17 7 L 11 7 z M 11 11 L 11 13 L 13 13 L 13 11 L 11 11 z");
}

path[d="M4 4a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h11a3 3 0 0 0 3-3v-2.12a1 1 0 0 0 .55.9l3 1.5a1 1 0 0 0 1.45-.9V7.62a1 1 0 0 0-1.45-.9l-3 1.5a1 1 0 0 0-.55.9V7a3 3 0 0 0-3-3H4Z"] {
	/* Start Video Call button icon */
	d: path("M 2 5 L 2 7 L 2 17 L 2 19 L 4 19 L 16 19 L 18 19 L 18 17 L 18 14.617188 L 22 16.578125 L 22 7.3476562 C 22 7.3476562 19.338491 8.713305 18 9.3828125 L 18 7 L 18 5 L 16 5 L 4 5 L 2 5 z");
}

path[d="M16.83 12.93c.26-.27.26-.75-.08-.92A9.5 9.5 0 0 0 12.47 11h-.94A9.53 9.53 0 0 0 2 20.53c0 .81.66 1.47 1.47 1.47h.22c.24 0 .44-.17.5-.4.29-1.12.84-2.17 1.32-2.91.14-.21.43-.1.4.15l-.26 2.61c-.02.3.2.55.5.55h7.64c.12 0 .17-.31.06-.36C12.82 21.14 12 20.22 12 19a3 3 0 0 1 3-3h.5a.5.5 0 0 0 .5-.5V15c0-.8.31-1.53.83-2.07ZM12 10a4 4 0 1 0 0-8 4 4 0 0 0 0 8Z"] {
	/* Add Friend to DM button icon */
	d: path("M 19 0 L 19 3 L 16 3 L 16 5 L 19 5 L 19 8 L 21 8 L 21 5 L 24 5 L 24 3 L 21 3 L 21 0 L 19 0 z M 6 4 L 6 12 L 14 12 L 14 4 L 6 4 z M 10 13 C 5.289 13 2 15.467 2 19 L 2 20 L 18 20 L 18 19 C 18 15.467 14.711 13 10 13 z");
}

path[d="M20.998 0V3H23.998V5H20.998V8H18.998V5H15.998V3H18.998V0H20.998ZM2.99805 20V24L8.33205 20H14.998C16.102 20 16.998 19.103 16.998 18V9C16.998 7.896 16.102 7 14.998 7H1.99805C0.894047 7 -0.00195312 7.896 -0.00195312 9V18C-0.00195312 19.103 0.894047 20 1.99805 20H2.99805Z"] {
	/* New Group DM button icon */
	d: path("M 18.998047 0 L 18.998047 3 L 15.998047 3 L 15.998047 5 L 18.998047 5 L 18.998047 8 L 20.998047 8 L 20.998047 5 L 23.998047 5 L 23.998047 3 L 20.998047 3 L 20.998047 0 L 18.998047 0 z M -0.001953125 7 L -0.001953125 9 L -0.001953125 18 L -0.001953125 20 L 2.9980469 20 L 2.9980469 24 L 8.3320312 20 L 16.998047 20 L 16.998047 18 L 16.998047 9 L 16.998047 7 L -0.001953125 7 z");
}

path[d="M12.2512 2.00309C12.1677 2.00104 12.084 2 12 2C6.477 2 2 6.477 2 12C2 17.522 6.477 22 12 22C17.523 22 22 17.522 22 12C22 11.916 21.999 11.8323 21.9969 11.7488C21.3586 11.9128 20.6895 12 20 12C15.5817 12 12 8.41828 12 4C12 3.31052 12.0872 2.6414 12.2512 2.00309ZM10 8C10 6.896 9.104 6 8 6C6.896 6 6 6.896 6 8C6 9.105 6.896 10 8 10C9.104 10 10 9.105 10 8ZM12 19C15.14 19 18 16.617 18 14V13H6V14C6 16.617 8.86 19 12 19Z"] {
	/* Add Reaction message dialog button icon */
	/* Note: selector modifies the first path element, since the second is already square */
	d: path("M 19 0 L 19 3 L 16 3 L 16 5 L 19 5 L 19 8 L 21 8 L 21 5 L 24 5 L 24 3 L 21 3 L 21 0 L 19 0 z M 2 2 L 2 22 L 22 22 L 22 11.419922 L 12.580078 11.419922 L 12.580078 2 L 2 2 z M 6 6 L 10 6 L 10 10 L 6 10 L 6 6 z M 6 13 L 18 13 L 18 14 C 18 16.617 15.14 19 12 19 C 8.86 19 6 16.617 6 14 L 6 13 z");
}

path[d="M14 3H20C21 3 22.0001 4 22.0001 5V19.0003C22.0001 20 21 21 20 21H14C13 21 6 13 6 13H2V11H6C6 11 13 3 14 3Z"] {
	/* Mark Unread message dialog button icon */
	d: path("M 14 3 C 13 3 6 11 6 11 L 2 11 L 2 13 L 6 13 C 6 13 13 21 14 21 L 17.814453 21 L 20 21 L 22 21 L 22 19 L 22 5 L 22 3 L 20 3 L 17.814453 3 L 14 3 z");
}

path[d="M10 8.26667V4L3 11.4667L10 18.9333V14.56C15 14.56 18.5 16.2667 21 20C20 14.6667 17 9.33333 10 8.26667Z"] {
	/* Reply message dialog button icon */
	d: path("M 10,8.26667 V 4 l -7,7.4667 7,7.4666 V 14.56 h 11 z");
}

path[d="M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z"] {
	/* Delete Message message dialog button icon */
	/* Note: selector modifies the second path element, since the first is already square */
	d: path("M 9 2 L 9 3.9980469 L 3 3.9980469 L 3 5.9980469 L 21 5.9980469 L 21 3.9980469 L 15 3.9980469 L 15 2 L 9 2 z M 5 6.9980469 L 5 18.095703 L 5 18.998047 L 5 20.998047 L 7 20.998047 L 17 20.998047 L 19 20.998047 L 19 18.998047 L 19 18.095703 L 19 6.9980469 L 5 6.9980469 z M 9 11 L 11 11 L 11 17 L 9 17 L 9 11 z M 13 11 L 15 11 L 15 17 L 13 17 L 13 11 z");
}

path[d="M5 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5Zm1 15h2.04V7.34H6V17Zm4-9.66V17h3.44c1.46 0 2.6-.42 3.38-1.25.8-.83 1.2-2.02 1.2-3.58s-.4-2.75-1.2-3.58c-.79-.83-1.92-1.25-3.38-1.25H10Z"] {
	/* Copy ID message dialog button icon */
	d: path("M 2 2 L 2 5 L 2 19 L 2 22 L 5 22 L 19 22 L 22 22 L 22 19 L 22 5 L 22 2 L 19 2 L 5 2 L 2 2 z M 6.7460938 7.7207031 L 8.796875 7.7207031 L 8.796875 16 L 6.7460938 16 L 6.7460938 7.7207031 z M 10.353516 7.7207031 L 13.208984 7.7207031 C 16.088984 7.7207031 17.589844 9.3876562 17.589844 11.847656 C 17.589844 14.307656 16.053812 16 13.257812 16 L 10.353516 16 L 10.353516 7.7207031 z M 12.40625 9.3164062 L 12.40625 14.404297 L 13.150391 14.404297 C 14.614391 14.404297 15.525391 13.635375 15.525391 11.859375 C 15.525391 10.119375 14.554391 9.3164062 13.150391 9.3164062 L 12.40625 9.3164062 z");
}

path[d="M7 12.001C7 10.8964 6.10457 10.001 5 10.001C3.89543 10.001 3 10.8964 3 12.001C3 13.1055 3.89543 14.001 5 14.001C6.10457 14.001 7 13.1055 7 12.001ZM14 12.001C14 10.8964 13.1046 10.001 12 10.001C10.8954 10.001 10 10.8964 10 12.001C10 13.1055 10.8954 14.001 12 14.001C13.1046 14.001 14 13.1055 14 12.001ZM19 10.001C20.1046 10.001 21 10.8964 21 12.001C21 13.1055 20.1046 14.001 19 14.001C17.8954 14.001 17 13.1055 17 12.001C17 10.8964 17.8954 10.001 19 10.001Z"] {
	/* More Options message dialog button icon */
	d: path("M 3 10.001953 L 3 14.001953 L 7 14.001953 L 7 10.001953 L 3 10.001953 z M 10 10.001953 L 10 14.001953 L 14 14.001953 L 14 10.001953 L 10 10.001953 z M 17 10.001953 L 17 14.001953 L 21 14.001953 L 21 10.001953 L 17 10.001953 z");
}

path[d="M6 2C3.79086 2 2 3.79086 2 6V18C2 20.2091 3.79086 22 6 22H18C20.2091 22 22 20.2091 22 18V6C22 3.79086 20.2091 2 18 2H6ZM10 8C10 6.8952 9.1032 6 8 6C6.8944 6 6 6.8952 6 8C6 9.1056 6.8944 10 8 10C9.1032 10 10 9.1056 10 8ZM9 14L6 18H18L15 11L11 16L9 14Z"] {
	/* Message reply to image icon */
	d: path("M 2 2 L 2 22 L 22 22 L 22 2 L 2 2 z M 6 6 L 10 6 L 10 10 L 6 10 L 6 6 z M 15 11 L 18 18 L 6 18 L 9 14 L 11 16 L 15 11 z");
}

path[d="M5 3C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H5ZM16.8995 8.41419L15.4853 6.99998L7 15.4853L8.41421 16.8995L16.8995 8.41419Z"] {
	/* Message reply to slash command icon */
	d: path("M 3,3 V 21 H 21 V 3 Z M 16.8995,8.41419 15.4853,6.99998 7,15.4853 8.41421,16.8995 Z");
}

path[d="M6,7 L2,7 L2,6 L6,6 L6,7 Z M8,5 L2,5 L2,4 L8,4 L8,5 Z M8,3 L2,3 L2,2 L8,2 L8,3 Z M8.88888889,0 L1.11111111,0 C0.494444444,0 0,0.494444444 0,1.11111111 L0,8.88888889 C0,9.50253861 0.497461389,10 1.11111111,10 L8.88888889,10 C9.50253861,10 10,9.50253861 10,8.88888889 L10,1.11111111 C10,0.494444444 9.5,0 8.88888889,0 Z"] {
	/* Text box icon indicating rich presence on a user in the member list */
	d: path("M 0,0 V 1.1113281 8.888672 10 H 1.1113281 8.888672 10 V 8.888672 1.1113281 0 H 8.888672 1.1113281 Z M 2,2 H 8 V 3 H 2 Z M 2,4 H 8 V 5 H 2 Z M 2,6 H 6 V 7 H 2 Z");
}

path[d="M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7ZM16 15H13V18H11V15H8V13H11V10H13V13H16V15Z"] {
	/* Create Category button icon in server options dropdown */
	d: path("M 2.6666667,3.3333333 V 4.3529412 18.627452 20.666666 H 4.5333334 19.466668 21.333333 V 18.627452 10.510416 8.4313726 c 0,-1.1256472 -0.836267,-2.0392157 -1.866665,-2.0392157 H 12 L 10.648611,4.4618055 C 10.332211,3.7705114 9.6853533,3.3333333 8.9788198,3.3333333 H 8.8597226 3.6 Z m 8.3999993,6.117647 h 1.866668 v 3.0588227 h 2.799999 v 2.039216 h -2.799999 v 3.058823 H 11.066666 V 14.549019 H 8.266667 v -2.039216 h 2.799999 z");
}

path[d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7v-5z"] {
	/* Events server channel icon */
	d: path("M 21,3.0019531 18,3 V 1 H 16 V 3 H 8 V 1 H 6 v 2 l -3,0.00195 V 21 H 21 Z M 19,19 H 5 V 8 H 19 Z M 7,10 h 5 v 5 H 7 Z");
}

path[d="M4.79805 3C3.80445 3 2.99805 3.8055 2.99805 4.8V15.6C2.99805 16.5936 3.80445 17.4 4.79805 17.4H7.49805V21L11.098 17.4H19.198C20.1925 17.4 20.998 16.5936 20.998 15.6V4.8C20.998 3.8055 20.1925 3 19.198 3H4.79805Z"] {
	/* Active Threads server channel icon */
	d: path("M 2.9980469 3 L 2.9980469 4.8007812 L 2.9980469 15.599609 L 2.9980469 17.400391 L 4.7988281 17.400391 L 7.4980469 17.400391 L 7.4980469 21 L 11.097656 17.400391 L 19.197266 17.400391 L 20.998047 17.400391 L 20.998047 15.599609 L 20.998047 4.8007812 L 20.998047 3 L 19.197266 3 L 4.7988281 3 L 2.9980469 3 z");
}

path[d="M11.383 3.07904C11.009 2.92504 10.579 3.01004 10.293 3.29604L6 8.00204H3C2.45 8.00204 2 8.45304 2 9.00204V15.002C2 15.552 2.45 16.002 3 16.002H6L10.293 20.71C10.579 20.996 11.009 21.082 11.383 20.927C11.757 20.772 12 20.407 12 20.002V4.00204C12 3.59904 11.757 3.23204 11.383 3.07904ZM14 5.00195V7.00195C16.757 7.00195 19 9.24595 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 8.14295 17.86 5.00195 14 5.00195ZM14 9.00195C15.654 9.00195 17 10.349 17 12.002C17 13.657 15.654 15.002 14 15.002V13.002C14.551 13.002 15 12.553 15 12.002C15 11.451 14.551 11.002 14 11.002V9.00195Z"] {
	/* Voice Channel icon */
	d: path("M 10.582031 3.0039062 L 6 8.0019531 L 2 8.0019531 L 2 16.001953 L 6 16.001953 L 10.582031 21.003906 L 12 21.003906 L 12 3.0039062 L 10.582031 3.0039062 z M 14 5.0019531 L 14 7.0019531 L 19 7.0019531 L 19 17.001953 L 14 17.001953 L 14 19.001953 L 21 19.001953 L 21 5.0019531 L 14 5.0019531 z M 14 9.0019531 L 14 11.001953 L 15 11.001953 L 15 13.001953 L 14 13.001953 L 14 15.001953 L 17 15.001953 L 17 9.0019531 L 14 9.0019531 z");
}

path[d="M15 12C15 12.0007 15 12.0013 15 12.002C15 12.553 14.551 13.002 14 13.002V15.002C15.654 15.002 17 13.657 17 12.002C17 12.0013 17 12.0007 17 12H15ZM19 12C19 12.0007 19 12.0013 19 12.002C19 14.759 16.757 17.002 14 17.002V19.002C17.86 19.002 21 15.863 21 12.002C21 12.0013 21 12.0007 21 12H19ZM10.293 3.29604C10.579 3.01004 11.009 2.92504 11.383 3.07904C11.757 3.23204 12 3.59904 12 4.00204V20.002C12 20.407 11.757 20.772 11.383 20.927C11.009 21.082 10.579 20.996 10.293 20.71L6 16.002H3C2.45 16.002 2 15.552 2 15.002V9.00204C2 8.45304 2.45 8.00204 3 8.00204H6L10.293 3.29604Z"] {
	/* Locked Voice Channel speaker icon */
	d: path("M 10.582031 3.0039062 L 6 8.0019531 L 2 8.0019531 L 2 16.001953 L 6 16.001953 L 10.582031 21.003906 L 12 21.003906 L 12 3.0039062 L 10.582031 3.0039062 z M 15 12 L 15 13.001953 L 14 13.001953 L 14 15.001953 L 17 15.001953 L 17 12 L 15 12 z M 19 12 L 19 17.001953 L 14 17.001953 L 14 19.001953 L 21 19.001953 L 21 12 L 19 12 z");
}

path[d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"] {
	/* Locked Channel tiny lock icon */
	d: path("M 17 2 L 17 5 L 16 5 L 16 10 L 22 10 L 22 5 L 21.025391 5 L 21.025391 2 L 17 2 z M 18 3.0039062 L 20 3.0039062 L 20 5 L 18 5 L 18 3.0039062 z");
	transform: translateX(-1px);
}

path[d="M17 11V7C17 4.243 14.756 2 12 2C9.242 2 7 4.243 7 7V11C5.897 11 5 11.896 5 13V20C5 21.103 5.897 22 7 22H17C18.103 22 19 21.103 19 20V13C19 11.896 18.103 11 17 11ZM12 18C11.172 18 10.5 17.328 10.5 16.5C10.5 15.672 11.172 15 12 15C12.828 15 13.5 15.672 13.5 16.5C13.5 17.328 12.828 18 12 18ZM15 11H9V7C9 5.346 10.346 4 12 4C13.654 4 15 5.346 15 7V11Z"] {
	/* Locked Channel lock icon */
	d: path("M 7 2 L 7 11 L 5 11 L 5 22 L 19 22 L 19 11 L 17 11 L 17 2 L 7 2 z M 9 4 L 15 4 L 15 11 L 9 11 L 9 4 z M 10.5 15 L 13.5 15 L 13.5 18 L 10.5 18 L 10.5 15 z");
}

path[d="M14 7V9C14 9 12.5867 9 12.5733 9.00667C12.42 9.58667 12.1733 10.1267 11.84 10.6067L12.74 11.5067L11.4933 12.7533L10.5933 11.8533C10.1133 12.1867 9.57334 12.44 8.99334 12.5867V14H6.99334V12.58C6.41334 12.4333 5.87334 12.18 5.39334 11.8467L4.49333 12.7467L3.24667 11.5L4.14667 10.6C3.81333 10.1267 3.56 9.58 3.41333 9H2V7H3.41333C3.56 6.42 3.81333 5.88 4.14667 5.4L3.24667 4.5L4.5 3.24667L5.4 4.14667C5.87334 3.81333 6.42 3.56 7 3.41333V2H9V3.41333C9.58 3.56667 10.12 3.81333 10.6 4.14667L11.5067 3.25333L12.7533 4.5L11.8533 5.4C12.1867 5.87334 12.44 6.42 12.5867 7H14ZM8 10C9.10457 10 10 9.10457 10 8C10 6.89543 9.10457 6 8 6C6.89543 6 6 6.89543 6 8C6 9.10457 6.89543 10 8 10Z"] {
	/* Mini settings button popup icon on channels */
	d: path("M 6.8005624,2 V 3.3569256 3.8082968 H 5.672838 5.0091398 L 4.4002812,3.2008441 3.2008437,4.400282 3.8082962,5.0091409 V 5.6728393 6.800564 H 3.3569252 2 v 2.3988757 h 1.3569252 0.451371 v 1.1277243 0.663698 l -0.6074525,0.608859 1.1994375,1.199438 0.6088586,-0.607452 H 5.672838 c 9.143e-4,5.08e-4 0.00189,8.64e-4 0.00281,0.0014 H 6.800562 V 12.643074 14 H 9.1994375 V 12.643074 12.19311 h 1.1263185 c 9.35e-4,-5.08e-4 0.0019,-8.64e-4 0.0028,-0.0014 h 0.6637 l 0.607451,0.607452 1.199438,-1.199438 -0.607424,-0.608859 V 10.327164 9.0264839 H 14 V 6.800564 H 12.643075 12.191704 V 5.6728393 5.0091409 L 12.799155,4.400282 11.599719,3.1994379 10.992266,3.8082968 h -0.663697 c -9.36e-4,-5.074e-4 -0.0018,-8.999e-4 -0.0028,-0.0014 H 9.199442 V 3.3569279 2.0000023 Z M 5.5997187,5.5997199 H 10.400281 V 10.400282 H 5.5997187 Z");
}

path[d="M13.6572 5.42868C13.8879 5.29002 14.1806 5.30402 14.3973 5.46468C14.6133 5.62602 14.7119 5.90068 14.6473 6.16202L13.3139 11.4954C13.2393 11.7927 12.9726 12.0007 12.6666 12.0007H3.33325C3.02725 12.0007 2.76058 11.792 2.68592 11.4954L1.35258 6.16202C1.28792 5.90068 1.38658 5.62602 1.60258 5.46468C1.81992 5.30468 2.11192 5.29068 2.34325 5.42868L5.13192 7.10202L7.44592 3.63068C7.46173 3.60697 7.48377 3.5913 7.50588 3.57559C7.5192 3.56612 7.53255 3.55663 7.54458 3.54535L6.90258 2.90268C6.77325 2.77335 6.77325 2.56068 6.90258 2.43135L7.76458 1.56935C7.89392 1.44002 8.10658 1.44002 8.23592 1.56935L9.09792 2.43135C9.22725 2.56068 9.22725 2.77335 9.09792 2.90268L8.45592 3.54535C8.46794 3.55686 8.48154 3.56651 8.49516 3.57618C8.51703 3.5917 8.53897 3.60727 8.55458 3.63068L10.8686 7.10202L13.6572 5.42868ZM2.66667 12.6673H13.3333V14.0007H2.66667V12.6673Z"] {
	/* Server Owner crown logo in user list */
	d: path("M 13.3348,4.6638988 13.3139,11.4954 12.6666,12.0007 H 3.33325 L 2.68592,11.4954 2.6696204,4.7433134 5.13192,7.10202 8.0119688,2.8812875 10.8686,7.10202 Z M 2.66667,12.6673 H 13.3333 v 1.3334 H 2.66667 Z");
}

path[d="M21.1169 1.11603L22.8839 2.88403L19.7679 6.00003L22.8839 9.11603L21.1169 10.884L17.9999 7.76803L14.8839 10.884L13.1169 9.11603L16.2329 6.00003L13.1169 2.88403L14.8839 1.11603L17.9999 4.23203L21.1169 1.11603ZM18 22H13C6.925 22 2 17.075 2 11V6C2 5.447 2.448 5 3 5H7C7.553 5 8 5.447 8 6V10C8 10.553 7.553 11 7 11H6C6.063 14.938 9 18 13 18V17C13 16.447 13.447 16 14 16H18C18.553 16 19 16.447 19 17V21C19 21.553 18.553 22 18 22Z"] {
	/* End Call voice chat button icon */
	d: path("m 14.384312,1.8 -1.723847,1.7284256 3.042487,3.0424868 -3.042487,3.0447765 1.723847,1.7261361 3.044775,-3.0447764 3.044777,3.0447764 L 22.2,9.6156889 19.155225,6.5709124 22.2,3.5284256 20.473864,1.8 17.429087,4.8447762 Z M 1.8,5.593379 V 11.454 22.2 h 3.9078444 8.1132986 4.585478 v -5.860621 h -5.8652 v 1.952777 H 5.7078444 V 11.454 H 7.6652007 V 5.593379 Z");
}

path[d="M10 5V3H5.375C4.06519 3 3 4.06519 3 5.375V18.625C3 19.936 4.06519 21 5.375 21H18.625C19.936 21 21 19.936 21 18.625V14H19V19H5V5H10Z"] {
	/* Voice channel popout button icon */
	d: path("M 14 2.9980469 L 14 4.9980469 L 17.585938 4.9980469 L 9.2929688 13.292969 L 10.707031 14.705078 L 19 6.4121094 L 19 9.9980469 L 21 9.9980469 L 21 2.9980469 L 14 2.9980469 z M 3 3 L 3 5 L 3 5.296875 L 3.0078125 5.296875 C 3.0069325 5.3233897 3 5.3482747 3 5.375 L 3 18.625 L 3 19 L 3 21 L 5 21 L 5.296875 21 L 5.296875 20.992188 C 5.3233897 20.993066 5.3482747 21 5.375 21 L 18.601562 21 L 18.625 21 L 19 21 L 21 21 L 21 19 L 21 18.703125 L 20.992188 18.703125 C 20.993066 18.676588 21 18.65175 21 18.625 L 21 14 L 19 14 L 19 18.703125 L 19 19 L 18.601562 19 L 5 19 L 5 5 L 10 5 L 10 3 L 5.3984375 3 L 5 3 L 3 3 z");
}

path[d="M21 2.99902H14V4.99902H17.586L9.29297 13.292L10.707 14.706L19 6.41302V9.99902H21V2.99902Z"] {
	/* Voice channel popout button icon, extraneous bits */
	display: none;
}

path[d="M19,3H14V5h5v5h2V5A2,2,0,0,0,19,3Z"] {
	/* Voice channel fullscreen button icon */
	d: path("M 5 3 A 2 2 0 0 0 4.9414062 3.0019531 L 3 3.0019531 L 3 4.9511719 A 2 2 0 0 0 3 5 L 3 5.0019531 L 3 10 L 5 10 L 5 5 L 10 5 L 10 3 L 5 3 z M 14 3 L 14 5 L 19 5 L 19 10 L 21 10 L 21 5 L 21 3 L 19 3 L 14 3 z M 3 14 L 3 19 L 3 21 L 4.9511719 21 L 5 21 L 10 21 L 10 19 L 5 19 L 5 14 L 3 14 z M 19 14 L 19 19 L 14 19 L 14 21 L 19 21 L 21 21 L 21 19.048828 A 2 2 0 0 0 21 19 L 21 14 L 19 14 z");
}

path[d="M19,19H14v2h5a2,2,0,0,0,2-2V14H19Z"],
path[d="M3,5v5H5V5h5V3H5A2,2,0,0,0,3,5Z"],
path[d="M5,14H3v5a2,2,0,0,0,2,2h5V19H5Z"] {
	/* Voice channel fullscreen button icon, extraneous bits */
	display: none;
}

path[d="M2 4.5C2 3.397 2.897 2.5 4 2.5H20C21.103 2.5 22 3.397 22 4.5V15.5C22 16.604 21.103 17.5 20 17.5H13V19.5H17V21.5H7V19.5H11V17.5H4C2.897 17.5 2 16.604 2 15.5V4.5ZM13.2 14.3375V11.6C9.864 11.6 7.668 12.6625 6 15C6.672 11.6625 8.532 8.3375 13.2 7.6625V5L18 9.6625L13.2 14.3375Z"] {
	/* Voice channel share screen button icon */
	d: path("m 2,2.5 v 2 11 1.998047 H 3.9804688 C 3.9871451,17.498113 3.9933084,17.5 4,17.5 h 7 v 2 H 7 v 2 h 10 v -2 h -4 v -2 h 7 c 0.0067,0 0.01285,-0.0019 0.01953,-0.002 H 22 V 15.5 4.5 2.5 H 20 4 Z M 13.199219,5 18,9.6621094 13.199219,14.337891 V 11.599609 H 6 l 7.199219,-3.9374996 z");
}

path[d="M4 2.5C2.897 2.5 2 3.397 2 4.5V15.5C2 16.604 2.897 17.5 4 17.5H11V19.5H7V21.5H17V19.5H13V17.5H20C21.103 17.5 22 16.604 22 15.5V4.5C22 3.397 21.103 2.5 20 2.5H4ZM14.5483 6L16 7.45174L13.4466 9.99485L16 12.5483L14.5483 14L12.0051 11.4466L9.45174 14L8 12.5483L10.5534 9.99485L8 7.45174L9.45174 6L12.0051 8.55341L14.5483 6Z"] {
	/* Voice channel stop screen share button icon */
	d: path("M 2 2.5 L 2 4.5 L 2 15.5 L 2 17.496094 L 3.9609375 17.496094 C 3.9742589 17.496356 3.9866167 17.5 4 17.5 L 11 17.5 L 11 19.5 L 7 19.5 L 7 21.5 L 17 21.5 L 17 19.5 L 13 19.5 L 13 17.5 L 20 17.5 C 20.013383 17.5 20.025741 17.496356 20.039062 17.496094 L 22 17.496094 L 22 15.5 L 22 4.5 L 22 2.5 L 20 2.5 L 4 2.5 L 2 2.5 z M 9.4511719 6 L 12.005859 8.5527344 L 14.548828 6 L 16 7.4511719 L 13.447266 9.9941406 L 16 12.548828 L 14.548828 14 L 12.005859 11.447266 L 9.4511719 14 L 8 12.548828 L 10.552734 9.9941406 L 8 7.4511719 L 9.4511719 6 z");
}

path[d="M14.99 11C14.99 12.66 13.66 14 12 14C10.34 14 9 12.66 9 11V5C9 3.34 10.34 2 12 2C13.66 2 15 3.34 15 5L14.99 11ZM12 16.1C14.76 16.1 17.3 14 17.3 11H19C19 14.42 16.28 17.24 13 17.72V22H11V17.72C7.72 17.23 5 14.41 5 11H6.7C6.7 14 9.24 16.1 12 16.1Z"] {
	/* Voice channel mute button icon, unchecked */
	d: path("M 7.5 1.6660156 L 7.5 4.1660156 L 7.5 9.1660156 L 7.5 11.666016 L 12.5 11.666016 L 12.5 1.6660156 L 7.5 1.6660156 z M 4.1660156 9.1660156 L 4.1660156 14.767578 L 9.1660156 14.767578 L 9.1660156 18.333984 L 10.833984 18.333984 L 10.833984 14.767578 L 15.833984 14.767578 L 15.833984 9.1660156 L 14.416016 9.1660156 L 14.416016 13.416016 L 5.5839844 13.416016 L 5.5839844 9.1660156 L 4.1660156 9.1660156 z");
	transform: scale(1.2);
}

path[d="M14.99 11C14.99 12.66 13.66 14 12 14C10.34 14 9 12.66 9 11V5C9 3.34 10.34 2 12 2C13.66 2 15 3.34 15 5L14.99 11ZM12 16.1C14.76 16.1 17.3 14 17.3 11H19C19 14.42 16.28 17.24 13 17.72V21H11V17.72C7.72 17.23 5 14.41 5 11H6.7C6.7 14 9.24 16.1 12 16.1ZM12 4C11.2 4 11 4.66667 11 5V11C11 11.3333 11.2 12 12 12C12.8 12 13 11.3333 13 11V5C13 4.66667 12.8 4 12 4Z"] {
	/* Voice channel mute button icon, unchecked, extraneous bits */
	display: none;
}

path[d="M12 2.00305C6.486 2.00305 2 6.48805 2 12.0031V20.0031C2 21.1071 2.895 22.0031 4 22.0031H6C7.104 22.0031 8 21.1071 8 20.0031V17.0031C8 15.8991 7.104 15.0031 6 15.0031H4V12.0031C4 7.59105 7.589 4.00305 12 4.00305C16.411 4.00305 20 7.59105 20 12.0031V15.0031H18C16.896 15.0031 16 15.8991 16 17.0031V20.0031C16 21.1071 16.896 22.0031 18 22.0031H20C21.104 22.0031 22 21.1071 22 20.0031V12.0031C22 6.48805 17.514 2.00305 12 2.00305Z"] {
	/* Voice channel deafen button icon, unchecked */
	d: path("M 2 2.0039062 L 2 14.994141 L 2 15.041016 L 2 22.003906 L 8.0253906 22.003906 L 8.0253906 14.994141 L 4 14.994141 L 4 4.0058594 L 20 4.0058594 L 20 14.994141 L 15.974609 14.994141 L 15.974609 22.003906 L 22 22.003906 L 22 15.041016 L 22 14.994141 L 22 2.0039062 L 2 2.0039062 z");
}

path[d="M9.01 11.085C9.015 11.1125 9.02 11.14 9.02 11.17L15 5.18V5C15 3.34 13.66 2 12 2C10.34 2 9 3.34 9 5V11C9 11.03 9.005 11.0575 9.01 11.085Z"] {
	/* Voice channel mute button icon, checked */
	d: path("m 8.9992192,1.9981251 v 3 5.9999999 0.171094 L 14.999219,5.1785938 V 1.9981251 Z M 4.9984379,10.998125 v 4.167188 l 1.7015626,-1.699219 v -2.467969 z m 12.3000001,0 v 5.100001 H 11.715625 L 10.091407,17.72 h 0.907031 v 4.279687 H 13 V 17.72 h 6 v -6.721875 z m -2.299219,1.823438 -1.178906,1.176563 h 1.178906 z");
}

path[d="M6.7 11H5C5 12.19 5.34 13.3 5.9 14.28L7.13 13.05C6.86 12.43 6.7 11.74 6.7 11Z"] {
	/* Voice channel mute button icon, checked, strikethrough */
	d: path("M21 4.27L19.73 3L3 19.73L4.27 21L8.46 16.82L9.69 15.58L11.35 13.92L14.99 10.28L21 4.27Z");
}

path[d="M6.7 11H5C5 12.19 5.34 13.3 5.9 14.28L7.13 13.05C6.86 12.43 6.7 11.74 6.7 11Z"],
path[d="M11.7237 16.0927L10.9632 16.8531L10.2533 17.5688C10.4978 17.633 10.747 17.6839 11 17.72V22H13V17.72C16.28 17.23 19 14.41 19 11H17.3C17.3 14 14.76 16.1 12 16.1C11.9076 16.1 11.8155 16.0975 11.7237 16.0927Z"] {
	/* Voice channel mute button icon, checked, extraneous bits */
	display: none;
}

path[d="M6.16204 15.0065C6.10859 15.0022 6.05455 15 6 15H4V12C4 7.588 7.589 4 12 4C13.4809 4 14.8691 4.40439 16.0599 5.10859L17.5102 3.65835C15.9292 2.61064 14.0346 2 12 2C6.486 2 2 6.485 2 12V19.1685L6.16204 15.0065Z"] {
	/* Voice channel deafen button icon, checked */
	d: path("M 1.6738281 1.6796875 L 1.6738281 12.5 L 1.6738281 12.539062 L 1.6738281 15.964844 L 5.1367188 12.5 L 3.3398438 12.5 L 3.3398438 3.3476562 L 14.285156 3.3476562 L 15.951172 1.6796875 L 1.6738281 1.6796875 z M 18.332031 6.3730469 L 16.666016 8.0410156 L 16.666016 12.5 L 13.314453 12.5 L 13.314453 18.337891 L 18.332031 18.337891 L 18.332031 12.539062 L 18.332031 12.5 L 18.332031 6.3730469 z M 6.6933594 18.019531 L 6.375 18.337891 L 6.6933594 18.337891 L 6.6933594 18.019531 z");
}

path[d="M3.20101 23.6243L1.7868 22.2101L21.5858 2.41113L23 3.82535L3.20101 23.6243Z"] {
	/* Voice channel deafen button icon, checked, strikethrough */
	d: path("M21 4.27L19.73 3L3 19.73L4.27 21L8.46 16.82L9.69 15.58L11.35 13.92L14.99 10.28L21 4.27Z");
	transform: translateX(-1px) translateY(-1px);
}

path[d="M19.725 9.91686C19.9043 10.5813 20 11.2796 20 12V15H18C16.896 15 16 15.896 16 17V20C16 21.104 16.896 22 18 22H20C21.105 22 22 21.104 22 20V12C22 10.7075 21.7536 9.47149 21.3053 8.33658L19.725 9.91686Z"] {
	/* Voice channel deafen button icon, checked, extraneous bits */
	display: none;
}

path[d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm1-18a1 1 0 1 0-2 0v7c0 .27.1.52.3.7l3 3a1 1 0 0 0 1.4-1.4L13 11.58V5Z"] {
	/* Recent tab in sticker/emoji tab */
	d: path("m 23,23 -5e-6,-22 H 1 l 4.8e-6,22 z M 13,5 h -2 v 7 c 0,0.27 0.1,0.52 0.3,0.7 l 3,3 1.4,-1.4 -2.7,-2.72 z")
}
